* {
    box-sizing: border-box;
}

h1 {
    background-image: url(img/bg.jpg);
    margin: 0;
    text-transform: uppercase;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
  
    margin: 0;
}

.container {
    background-image: url(img/bg.jpg);
    background-position: center;
    background-size: contain;
}

.footer {
    background-color: #2D4823;
    margin: 0;
}

.bubble-one {
    background-color: #4F6A13;
    margin: 0;
    border-radius: 100%;
}
